@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ebe9e4;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 60px !important;
}

header ul {
    position: relative;
    display: flex;
}

li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .text-box {
    position: relative;
    max-width: 600px;
}

.content .text-box h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 600;
}

.content .text-box h2 span {
    color: #01713d;
    line-height: 1.2em;
    font-weight: 900;
}

.content .text-box a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #01713d;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1;
    text-decoration: none;
}

.content .img-box {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .img-box img{
    max-width: 450px;
    height: auto;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

.thumb li:hover {
    transform: translateY(-15px);
    transform: ease-in-out 1s;
}

.thumb li img {
    max-width: 60px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    /* filter: invert(); */
    opacity: .2;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ddd9cf;
    clip-path: circle(600px at right 800px);
}
